//font variables
$font-primary: arial, Helvetica, sans-serif;
$font-secondary: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

//color varialbles
$color-white: #f0f0f0;
$color-white-2: rgba(255, 255, 255, 0.74);
$color-white-3: rgb(192, 189, 189);
$color-black: rgb(77, 74, 74);
$color-black-2: rgb(58, 56, 56);
$color-orange: rgb(190, 127, 31);
$color-silver: rgb(211, 211, 211);
$color-green: rgb(19, 138, 19);
$color-red: rgb(231, 16, 16);

//gutters
$gutter-vertical: 20px;
$gutter-horizontal: 60px;

//max-width for grid system
$grid-width: 116rem;