.feature-box {
    background: $color-white-2;
    transition: 150ms all linear;
    @extend %cursor-pointer;
    

    &:hover {
        transform: translate(-.5rem, -1rem) scale(1.01);
        box-shadow: 0 1rem 2rem $color-black;
    }

    
}